Package: python-rfid
Version: 1.0
Section: devel
Priority: extra
Depends: python (>= 2.7), python-serial
Suggests: pamrfid
Architecture: all
Installed-Size: 10
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Homepage: www.pm-codeworks.de/pyrfid.html
Description: Python written library for an 125kHz RFID reader.
 Developed under the RDM6300 RFID-sensor. Other readers could be possible but they must use the EM4100 protocol.
 .
 This library is designed to work with Python 2.7 only!
