Source: python-rfid
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), dh-python, python (>= 2.7), python3 (>= 3.2), python-setuptools, python3-setuptools, python-sphinx | python3-sphinx
X-Python-Version: all
X-Python3-Version: >= 3.2
Vcs-Git: https://github.com/philippmeisberger/pyrfid.git
Homepage: http://www.pm-codeworks.de/pyrfid.html

Package: python-rfid
Depends: ${python:Depends}, ${misc:Depends}, python-serial
Suggests: python-rfid-doc
Architecture: all
Description: Python 2 written library for an 125kHz RFID reader
 Developed under the RDM6300 RFID-sensor. Other readers could be possible but
 they must be compatible with the EM4100 protocol.

Package: python3-rfid
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial
Suggests: python-rfid-doc
Architecture: all
Description: Python 3 written library for an 125kHz RFID reader
 Developed under the RDM6300 RFID-sensor. Other readers could be possible but
 they must be compatible with the EM4100 protocol.

Package: python-rfid-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Recommends: python-rfid | python3-rfid
Description: API Documentation for PyRfid
 Python 2 and 3 written library for 125kHz RFID readers. This package
 contains the API documentation.
