Package: python-rfid
Version: 1.0
Section: devel
Priority: extra
Depends: python (>= 2.7), python-serial, python-rfid
Recommends: pamrfid
Architecture: all
Installed-Size: 10
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Homepage: www.pm-codeworks.de/pyrfid.html
Description: Python written library for an 125kHz RFID reader.
  Developed under and for the EM4100 (RDM6300) RFID-sensor.
