#!/usr/bin/make -f

export PYBUILD_NAME=rfid

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf ./build/ ./files/*.egg-info/

override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build

	## Build API documentation
	sphinx-build -b html ../doc ./build/html

